# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de entorno
.env

# Migraciones de Flask-Migrate (opcional incluir)
migrations/

# Archivos de VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
